*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherrit;
}

ul,
ol {
  list-style: none;
}

dt {
  font-weight: bold;
}

table {
  border: inherit;
  border-collapse: clooapse;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}
/* ========================================

Footer CSS

========================================= */
footer.footer01 {
  padding: 2rem 1rem 1rem;
  background: #696969;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto 3rem;
}

div.logo {
  width: 100px;
  height: 100px;
}

div.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.nav ui.item {
  display: flex;
}

nav.nav ui.item li.list {
  padding-left: 1.5rem;
}

nav.nav ul.item li.list a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
}

p.copyright {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 760px) {
  footer.footer01 {
    padding: 2rem 1rem 1rem;
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 414px;
    margin-bottom: 2rem;
  }

  div.logo {
    margin-bottom: 1.5rem;
  }

  nav.nav ul.item {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav.nav ul.item li.list {
    padding: 0.5rem;
  }
}
/*==========================================

FormCSS

==========================================*/
body {
  padding: 3rem 1rem;
}

/* Form02 */
.form02 {
  max-width: 650px;
  margin: 0 auto;
  border: 3px solid #b0c4de;
  border-radius: 15px;
  padding: 3rem 2rem;
}

.form-inner {
  margin-bottom: 2rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-label label {
  vertical-align: middle;
}

.requied {
  display: inline-block;
  background: #b0c4de;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.radio-inner {
  display: inline-block;
  margin-right: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 40px;
  border: 2px solid #b0c4de;
  border-radius: 8px;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 200px;
  border: 2px solid #b0c4de;
  border-radius: 8px;
  padding: 1rem;
}

.form-btn {
  display: block;
  width: 180px;
  background: #b0c4de;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  padding: 0.9rem 0;
  margin: 0 auto;
}
